li{
    list-style: none;
}


.btn{
    border-radius: 50px;
}
.nav-link{
    margin-right: 30px;
    color: burlywood;
}
.nav-link:hover{
    color: black;
}

.list-group-item a{

    color: black;
    text-decoration: none;
}
.list-group-item a:hover{
    color: burlywood;

}
.main-body{
    overflow: hidden;
}
.Jobs-area h2{
    float: left;
}
.jobs-link {
    float: right;
    color: #17A2B8;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 5px;
    margin-left: 5px;
    font-size: 13px;
    text-decoration: none;

}
.jobs-link:hover{
    background-color:#17A2B8;
    color: white;
    text-decoration: none;
}
.Jobs-area{
    overflow: hidden;
}
.text-area h5{
    font-size: 15px;
    margin-bottom: 15px;
}

.text-area{
    float: left;
}
.text-area .submit{
    float: right;
}
.text-area{
    float: left;
}

.footer-area{
    background-color: #12225b;
    color: white;
 
}
.footer-area ul li a {
    color: white;
}
.footer1{
    border-bottom: .3px solid white;
    padding-bottom: 15px;
    

}
.footer2{
    text-align: center;
    padding: 15px;
}

.text-area{
    overflow: hidden;
}
.new-text{
    overflow: hidden;
}

.submit i{
    border: 1px solid blue;
    padding: 12px;
    border-radius: 5px;
}
.submit button{
    background-color: tomato;
    color: white;
    padding: 8px;
    border-radius: 5px;
}